.container{
    margin-top: 10px;
}

form{
    position: relative;
    right: 0;
}

.gif-maker{
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(107, 175, 133);
}

img{
    margin-right: 10px;
    margin-bottom: 10px;
}

.row{
    margin-bottom: 10px;
}

#submit{
    border-radius: 5px;
    background-color: rgb(107, 175, 133);
}